# Created by .ignore support plugin (hsz.mobi)
.idea/atlassian-ide-plugin.xml
.idea/compiler.xml
.idea/copyright/
.idea/devops-interview-zenmate.iml
.idea/misc.xml
.idea/modules.xml
.idea/workspace.xml
